[submodule "web"]
	path = web
	url = https://github.com/Igor-Lira/find-your-duo-web
[submodule "mobile"]
	path = mobile
	url = https://github.com/Igor-Lira/find-your-duo-mobile
[submodule "server"]
	path = server
	url = https://github.com/Igor-Lira/find-your-duo-server
